<meta charset="<%= charset %>">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="book_path" value="/ruby/_book.yaml" />
<meta name="project_path" value="/ruby/_project.yaml" />
<title>
  <%= h @page_title %>
</title>
<% stylesheets.each do |stylesheet| %>
  <link rel="stylesheet" href="<%= mtime_url(stylesheet) %>" type="text/css" charset="utf-8" />
<% end %>
<%= erb :script_setup %>
<% javascripts.each do |javascript| %>
  <script type="text/javascript" charset="utf-8" src="<%= mtime_url(javascript) %>"></script>
<% end %>